body {
    font-family: sans-serif;
    box-sizing: border-box;
}
.chat-bubble {
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
    max-width: 70%;
    width: fit-content;
}
.user-message {
    background-color: #f1f1f1;
    align-self: flex-end;
    margin-left: auto;
}
.assistant-message {
    background-color: #e7f0fe;
    align-self: flex-start;
}
#chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#message-container {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#chat-input {
    margin-top: auto;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
.main-textarea {
    padding: 10px;
    height: 90%;
    outline: none;
    overflow-y: auto;
}
.resize-none {
    resize: none;
}
.hovered-suggestion {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: all 0.15s ease;
  }
.cursor-not-allowed {
  cursor: not-allowed;
}
.no-select {
  user-select: none;
}
/* Default styles for .text-editor */
.text-editor {
    height: 100vh;
}

/* Styles for screens with a height of 600px or less */
@media (max-height: 600px) {
    .text-editor {
        height: 95vh;
    }
}

/* Styles for screens with a height of 400px or less */
@media (max-height: 400px) {
    .text-editor {
        height: 90vh;
    }
}